__pycache__/
*.png
.vscode/
*.pickle
build/
*.pyc
*.csv
data/
*.p
runs/
data2/
noarch/
ML/models/
.ipynb_checkpoints/
ML/model
ML/out/
ML/curr_run/
ML/model_fold_0
ML/model_fold_1
ML/test_data_fold_0
ML/test_data_fold_1
